.modal {
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 80vh;
  left: 50%;
  min-width: clamp(10rem, 2vw, 30rem);
  min-height: clamp(15rem, 2vh, 35rem);
  border-radius: 1rem;
  transform: translate(-50%, -50%);
}
.overlay {
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.horiButtonGroup {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0;
}
.pic {
  align-content: center;
  height: 50%;
  width: 50%;
}
.deleteModal {
  justify-content: center;
  align-items: center;
}
.text {
  padding-top: 3rem;
}

.maxPax {
  display: flex;
  flex-direction: row;
  margin: 1%;
  height: 5vh;
  margin: 5% 0 0 0;
}

.minusButton {
  margin-left: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  width: 10%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  border-radius: 10% 0 0 10%;
}

.count {
  border: none;
  background-color: black;
  opacity: 0.4;
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.6rem);
  width: 10%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
}

.addButton {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  width: 10%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  border-radius: 0 10% 10% 0;
}

.maxPaxText {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  height: 100%;
  margin: 0;
}

.minusButton:hover {
  cursor: pointer;
}

.addButton:hover {
  cursor: pointer;
}

.btn {
  height: clamp(1.8rem, 3vw, 2.5rem);
  width: 40%;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  text-align: center;
}
.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(219, 191, 254, 0.3);
  box-shadow: 0 0 3px 3px rgba(219, 191, 254, 0.3);
}
.btn:active {
  background-color: rgba(219, 191, 254, 0.3);
  transition: background-color 0.2s;
}
.buttonGroup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delBtn{
  height: clamp(1.8rem, 3vw, 2.5rem);
  width: 91%;
  background-color: #CB5E5E;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  text-align: center;
  cursor: pointer;
}
.delBtn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgb(243, 55, 55);
  box-shadow: 0 0 3px 3px rgb(243, 55, 55);
}
.delBtn:active {
  background-color: #c47373;
  transition: background-color 0.2s;
}

@media screen and (max-width: 768px) {
  .rightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .text {
    padding-top: 1rem;
  }

  .h1 {
    font-size: clamp(1rem, 1vw, 1.5rem);
  }

  .pic {
    height: 90%;
  }
}
