.modal {
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 80vh;
  left: 50%;
  min-width: clamp(10rem, 2vw, 30rem);
  min-height: clamp(15rem, 2vh, 35rem);
  border-radius: 1rem;
  transform: translate(-50%, -50%);
}
.overlay {
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horiButtonGroup {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-top: 10rem;
}
.pic {
  align-content: center;
  height: 50%;
  width: 50%;
}
.deleteModal {
  justify-content: center;
  align-items: center;
}
.text{
  padding-top: 3rem;
}

