.page {
  /* margin: 10vh 10vh 10vw 10vw; */
  padding: 0 10vh 0 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.subtitle {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: clamp(1.25rem, 3vw, 4rem);
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: clamp(0.8rem, 2vw, 1.5rem);
}

.logo {
  font-family: Lobster;
  padding-bottom: 0.25em;
  font-size: clamp(2.5rem, 6vw, 7vw);
  background: -webkit-linear-gradient(135deg, #ba5bb2 55%, #5e6bcb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pic {
  width: 40vw;
}

.btn {
  width: 25vh;
  height: 5vh;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  text-align: center;
}
.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(219, 191, 254, 0.3);
  box-shadow: 0 0 3px 3px rgba(219, 191, 254, 0.3);
}
.btn:active {
  background-color: rgba(219, 191, 254, 0.3);
  transition: background-color 0.2s;
}

.googleImg {
  width: 2vh;
  height: 2vh;
  margin-right: 10px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnText {
  display: inline;
}

@media screen and (max-width: 680px) {
  .page {
    flex-direction: column;
    align-items: flex-start;
  }
  .pic{
    width: 60vw;
    transform: translate(-11%, 0);
  }
}