.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftContainer {
  width: 35%;
  border-radius: 20px 0 0 20px;
  background-color: whitesmoke;
}

.rightContainer {
  width: 65%;
  background-image: linear-gradient(135deg, #5e6bcb, #ba5bb2);
  border-radius: 0 20px 20px 0px;
  color: white;
}
.card {
  display: flex;
  flex-direction: row;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  margin: 10px;
  border-radius: 20px;
  height: 85vh;
  /* max-height: 90vh; */
  /* padding: 10px; */
  /* height: 80vh; */
}
.paddingDiv {
  box-sizing: border-box; /* to include the padding in the 100% height */
  padding: 2rem;
  height: 100%;
  /* height:100%; */
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column-reverse;
    width: 90%;
    padding: 1rem;
    align-self: center;
    /* justify-content: stretch; */
    /* justify-content: stretch; */
    /* height: 90vh; */
    /* height: auto; */
  }
  .leftContainer {
    width: 100%;
    border-radius: 0 0 20px 20px;
    height: 60%;
  }

  .rightContainer {
    width: 100%;
    height: 40%;
    border-radius: 20px 20px 0 0;
    flex-grow: 1;
  }
}
