.root{
    /* height:100%;
    overflow: auto; */
}

.top{
    display: flex;
    justify-content: space-between;
}
.editIcon{
    cursor: pointer;
    height: fit-content;
    font-size: 2vw;
}
.title{
    font-family: "Lobster";
    font-weight: 300;
}
.text{
    color: grey;
    font-size: 1rem;
}