body {
  margin: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  line-height: clamp(0.8rem, 2vw, 1.5rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: clamp(2rem, 4.5vw, 6rem); font-style: normal; font-variant: normal; font-weight: 700; line-height: clamp(2rem, 4.5vw, 6rem); margin-top: 0;} 
h3 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: clamp(1.25rem, 4vw, 3rem); font-style: normal; font-variant: normal; font-weight: 700; line-height: clamp(1.5rem, 4vw, 3rem); margin: 0} 
p { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: clamp(0.8rem, 2vw, 1.25rem); font-style: normal; font-variant: normal; font-weight: 400; line-height: clamp(0.8rem, 2vw, 1.25rem); } 
blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
button { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: clamp(0.8rem, 2vw, 1.5rem); font-style: normal; font-variant: normal; font-weight: 400; line-height: clamp(0.8rem, 2vw, 1.5rem); } 


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
