/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  /* height: 100%; */
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pacControls {
  display: inline-block;
  padding: 5px 11px;
}

.pacControls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.textBoxError{
  animation: shake 0.2s ease-in-out 0s 2;
  /* color: red; */
  box-shadow: 0 0 0.5em red;
}



#autocompleteflex {
  /* display: flex; */
  position: relative;
  /* width: 55vw; */
  height: 56px;
}

#clear{
  position: absolute;
  height: 99%;
  top: 1px;
  /* transform: translateY(-102%); */
  right: 0;
  /* background-color: #e4cfe2; */
  color: #ba5bb2;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: clamp(0.8rem, 2vw, 1rem);
  transition: 100ms;
}

#clear:hover{
  font-size: clamp(1rem, 3vw, 1.2rem);;
}

#pac-input {
  /* margin-top: 20px; */
  z-index: 17;
  background-color: #fff;
  /* font-family: Futura; */
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  /* margin-left: 12px; */
  /* padding: 0 11px 0 -11px; */
  /* box-sizing: content-box; */
  text-overflow: ellipsis;
  /* width: 55vw; */
  width: 100%;
  height: 56px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}